<div class="row align-items-start">
    <h5>Full Name</h5>
    <div class="col">
        <div class="mb-3">
            <input type="text" id="fn" class="form-control">
            <div id="fn" class="form-text">
                First Name
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <input type="text" id="ln" class="form-control">
            <div id="ln" class="form-text">
                Last Name
            </div>
        </div>
    </div>
</div>